.page-form {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: #2f2f37;
  max-width: 100%;
  padding: 20px;

  background-image: linear-gradient(
    90deg,
    #020024 0%,
    #090979 35%,
    #00d4ff 100%
  );
  border-bottom: 1px solid #49494d;
  box-shadow: 1px 6px 20px 1px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: 1px 6px 20px 1px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 1px 6px 20px 1px rgba(0, 0, 0, 0.81);

  margin-bottom: 20px;

  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-button {
  margin-left: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

.photo-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  padding: 15px;
  border: 1px solid rgba(128, 128, 128, 0.658);
  max-width: 100%;
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;

  box-shadow: 10px 10px 18px -1px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 10px 10px 18px -1px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 10px 10px 18px -1px rgba(0, 0, 0, 0.62);

  &:not(:last-child) {
    margin-bottom: 0;
  }
}
.photo-card img {
  width: 100%;
}
.info {
  display: flex;
  justify-content: space-around;
}
.info-item {
  margin-left: 6px;
}

.page-markup {
  margin-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.load-more {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  visibility: hidden;
}
